.chat-dashboard {
    width: 300px;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    position: relative;
  }
.chat-dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--dashboard-bg); /* Adjust background if needed */

}
.chat-dashboard-logo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-dashboard-logo img{
    height: 28px;
    width: auto;
}
.chat-dashboard-new-chat{
    padding: 20px;
    padding-top: 0px;
}
.chat-dashboard-new-chat a{
text-decoration: none;
display: flex;
gap: 0.3rem;
align-items: center;
width: max-content;
background-color: var(--dashboard-hover-bg);
border-radius: 6px;
font-size: 14px;
font-family: var(--h-font);
color: var(--p-color);
font-weight: 400;
padding: 9px 12px;
border-radius: 8px;
}
.chat-dashboard-new-chat a:hover{
    background-color: var(--dashboard-click-bg);
    color: var(--h-color);
}
.chat-dashboard-recents {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    min-height: 350px;
    max-height: 420px;
    overflow-y: auto;
    scrollbar-gutter: none; /* Prevents width change when scrollbar appears */
}
.chat-dashboard-recents::-webkit-scrollbar {
    width: 8px;
    display: none;
}
.chat-dashboard-recents:hover::-webkit-scrollbar {
    display: block;
}

.chat-dashboard-recents::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 10px;
}

.chat-dashboard-recents::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
}
.chat-dashboard-recents:hover {
    scrollbar-width: thin;
}

.chat-dashboard-recents h3{
    padding-left: 8px;
    font-size: 15px;
    font-family: var(--h-font);
    color: var(--h-color);
    font-weight: 500;
}
 .chat-dashboard-recents-contents{
    display: flex;
    flex-direction: column;
 }
.chat-dashboard-recents a{
    font-size: 14px;
    font-family: var(--h-font);
    color: var(--h-color);
    font-weight: 400;
    padding: 8px 8px;
    border-radius: 8px;
}
.chat-dashboard-recents a:hover{
    background-color: var(--dashboard-hover-bg);
}
.chat-dashboard-recents a.active{
    background-color: var(--dashboard-click-bg);
}
.char-dashboard-view-more-btn{
    font-size: 13px;
    font-family: var(--h-font);
    color: var(--p-color);
    font-weight: 400;
    padding: 0px 4px;
    border-radius: 8px;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
}
.chat-dashboard-account{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
}
.chat-dashboard-account-container{
    padding: 10px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    gap: 0.5rem;
}
.chat-dashboard-account-contents{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.chat-dashboard-account-profile{
    width: 32px;
    height: 32px;
    background-color: var(--black-white);
    font-size: 14px;
    font-family: var(--h-font);
    color: var(--white-black);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.chat-dashboard-account-email{
    font-size: 14px;
    font-family: var(--h-font);
    color: var(--h-color);
    font-weight: 400;
    white-space: nowrap;         /* Prevent text from wrapping */
  overflow: hidden;            /* Hide overflowed content */
  text-overflow: ellipsis;     /* Add ellipsis when the text overflows */
  width: 170px;                /* Set a max width (adjust as needed) */
  display: inline-block; 
}
.chat-dashboard-settings{
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 8px;
   width: 260px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
    bottom: 76px;
    left: 0px;
    right: 0px
}
.chat-dashboard-settings-container{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: inherit;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.chat-dashboard-settings-theme{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 4px;
}
.chat-dashboard-settings-theme p{
    font-size: 15px;
    font-family: var(--h-font);
    color: var(--h-color);
    font-weight: 400;
}
/* .settings-theme-indicator{
   width: 40px;
   height: 23px;
   border: 1px solid var(--border-color);
   border-radius: 12px;
   padding: 2px; 
   display: flex;
} */
.settings-theme-indicator {
    width: 40px;
    height: 23px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 2px; 
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
.settings-theme-indicator-light {
    width: 50%;
    height: 100%;
    background-color: var(--black-white);
    border-radius: 50%;
    visibility: hidden;/* Hide by default */
}

.settings-theme-indicator-dark {
    width: 50%;
    height: 100%;
    background-color: var(--black-white);
    border-radius: 50%;
    visibility: hidden; /* Hide by default */
}

.settings-theme-indicator-light.active {
    visibility: visible; /* Show when active */
}

.settings-theme-indicator-dark.active {
    visibility: visible; /* Show when active */
}

.chat-dashboard-settings-logout{
    padding: 5px;
    font-size: 15px;
    font-family: var(--h-font);
    color: var(--h-color);
    font-weight: 400;
    border-radius: 4px;
}
.chat-dashboard-settings-logout:hover{
    background-color: var(--dashboard-click-bg);
}


@media only screen and (max-width:800px){
    .chat-dashboard {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0px;
        box-shadow: 300px 0px 0px 200px var(--box-shadow);
    }
}