@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  
    --h-font:'DM Sans', sans-serif;
    --p-font:'Inter', sans-serif;
   --trafy-grey:#F5F5F5;
    --trafy-black:#000000;
    --trafy-white:#ffffff;
    --h-black:#000000;
    --p-black:#424242;
    --h-white:#ffffff;
    --p-white:#d1d1d1;
    --box-border:#B2B2B2;

--chat-bg:#ffffff;
--dashboard-bg:#f5f5f5;
--dashboard-hover-bg:#efefef;
--dashboard-click-bg:#dfdfdf;
--chat-button-bg:#1B1C1D;
--chat-button-hover-bg:#b2b2b2;
--h-color:#000000;
--p-color:#424242;
--border-color:#dfdfdf;
--black-white:#1B1C1D;
--white-black:#ffffff;
--user-chat:#f5f5f5;
--box-shadow:#c0c0c0bf;
--chat-border:#dfdfdf;



  }

  .dark {
    --chat-bg:#252525;
    --dashboard-bg:#1c1c1c;
    --dashboard-hover-bg:#292929;
    --dashboard-click-bg:#2e2e2e;
    --chat-button-bg:#ececec;
    --chat-button-hover-bg:#646464;
    --h-color:#dbdbdb;
    --p-color:#cdcdcd;
    --border-color:#333333;
    --black-white:#ececec;
    --white-black:#1c1c1c;
    --user-chat:#363636;
    --box-shadow:#1f1f1fbf;
    --chat-border:#404040;
  }
  

  *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      text-decoration: none;
    }
    html{
      height: 100%; 

    }
    body {
      margin: 0;
      overflow-y: scroll;
      overflow: hidden;
      height: 100%; 
      background-color: var(--chat-bg);
    }

 

 